body {
    font-family: 'Lato', sans-serif;
}

.home-main {
    background-image: url('../../assets/pisa-tower.png');
}

.image{
    opacity: 0.5;
}


.icon-help, .icon-language {
    margin-right: 2%; 
    cursor: pointer;
}

.icon-help {
    margin-left: 1%;
}

.home-top-right-flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
}

.navbar-brand {
    margin-left: 2%;
}

.dropdown {
    margin-right: 8%;
}

.btn-profile {
    width: 130%;
}

.btn-gamehistory {
    margin-right: 2%;
}

.sp-image, .mp-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}