body {
    background-image: url('../../assets/pisa-tower.png');
}

img {
    opacity: 0.5;
}

.icon-help, .icon-language {
    margin-right: 2%; 
    cursor: pointer;
}

.icon-help {
    margin-left: 1%;
}

.home-top-right-flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
}

.btn-profile {
    width: 130%;
    margin-left: 30%;
}

.sp-image, .mp-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}