
 body {
    font-family: 'ProText';
}

.home-container{
    margin: 0 150px;
    display: grid; 
    grid-auto-columns: 1fr; 
    /* grid-auto-rows: 1fr;  */
    grid-template-columns: repeat(12,1fr);
    gap:  40px; 
    /* grid-template-rows: 1fr 4.75fr; */
    grid-template-areas: 
    "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
    "play-single play-single play-single play-single play-single . . play-multi play-multi play-multi play-multi play-multi"   
    ;

}
.navbar{
    grid-area:navbar;
    display: grid;
    grid-template-columns: 3fr 2fr 4fr 2fr 3fr ;
    grid-template-areas: "nleft . ncenter . nright";

}


.navbar-left {
    grid-area: nleft;
    display: flex;
}

.navbar-right {
    grid-area: nright;
    display: flex;
}

.navbar-left p, .navbar-right p{
    padding: 1rem;
    font-family: "ProText";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.navbar-left p:hover, .navbar-right p:hover{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    /* Note: backdrop-filter has minimal browser support */
    cursor: pointer;
    border-radius: 16px 16px 16px 16px;
}

.navbar-center {
    /* margin-left: 4rem; */
    grid-area: ncenter;
    font-family: "ProDisplay";
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 29px;
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.01em;
    cursor: default;
    text-align: center;

    color: #FFFFFF;
}

.line{
    background: #E7E7F2;
    opacity: 0.4;
    backdrop-filter: blur(60px);
    height: 1px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}


.play-box-singleplayer {
    grid-area: play-single;
    height: 400px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "lsingle rsingle"; */
    display:flex;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 16px 16px 16px 16px;
}

.play-box-singleplayer:hover {
    background-color: rgba(250, 250, 250, 0.4);
    border: 1px white solid;
    cursor:pointer;
}

.play-box-multiplayer {
    grid-area: play-multi;
    height: 400px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "lmulti rmulti"; */
    display:flex;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 16px 16px 16px 16px;
}

.play-box-multiplayer:hover{
    background-color: rgba(250, 250, 250, 0.4);
    border: 1px white solid;
    cursor:pointer;
}

.play-box-multiplayer-right{
    /* grid-area: rmulti;  */
    width: 50%;
    /* background-image: url("../../assets/round-start-nature-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-radius: 16px 16px 16px 16px; */
}

.play-box-multiplayer-left{
    width: 50%;
}

.play-box-multiplayer-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 16px 16px 0;
}


.play-box-singleplayer-right{
    /* grid-area: rsingle; */
    width: 50%;
    /* background-image: url("../../assets/singleplayer.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-radius: 16px 16px 16px 16px; */
    
}


.play-box-singleplayer-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 16px 16px 0;
}




.play-box-singleplayer-left{
    width: 50%;
}

.play-box-left-text {
    font-family: "ProDisplay";
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 20px;

    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 1rem;
}

.play-box-left-text2 {
    font-family: "ProText";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0.5rem;
}

.vector{
    margin-top: 12rem;
    margin-left: 2rem;
}

@media screen and (max-width:1300px){

    .play-box-left-text{
        font-size: 12px;
    }

    .play-box-left-text2{
        font-size: 24px;
    }
}


.modal{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
}

.modal-content {
    background: rgba(255, 255, 255, 0.5);
    border: 1px white solid;
}

.modal-body{
    display: flex;
    justify-content: space-between;
}


.modal p{
    font-family: "ProText";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 135%;
    text-align: center;
    margin: 0 0.5rem;
}

.modal h2 {
    font-family: "ProText";
    font-style: normal;
    font-size: 20px;
    line-height: 20px;

    display: flex;
    align-items: center;
    margin: 0.5rem 0.5rem;
}

.modal-body input{
    border: 0;
    border-radius: 8px;
    width: 50%;
    margin-right: 1rem;
}

.dropdown-menu  {

}


/*
.home-main {
    background-image: url('../../assets/pisa-tower.png');
}

.image{
    opacity: 0.5;
}


.icon-help, .icon-language {
    margin-right: 2%; 
    cursor: pointer;
}

.icon-help {
    margin-left: 1%;
}

.home-top-right-flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
}

.navbar-brand {
    margin-left: 2%;
}

.dropdown {
    margin-right: 8%;
}

.btn-profile {
    width: 130%;
}

.btn-gamehistory {
    margin-right: 2%;
}

.sp-image, .mp-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
} */