
.round-start-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 2fr 3fr 3fr 2fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 40px;
    /* grid-auto-flow: row; */
    grid-template-areas:
      ". . . . . . . . . . . ."
      ". . . gr-box gr-box gr-box  gr-box  gr-box  gr-box . . ."
      ". . . . btn-group btn-group btn-group btn-group  . . . ."
      ". . . rsfooter rsfooter rsfooter rsfooter rsfooter rsfooter . . .";
}

.get-ready-box{
    grid-area: gr-box;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 16px;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding:4rem;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.get-ready-header p {
    font-family: "ProDisplay";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-align: center;

    color: #FFFFFF;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.round-box{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(70px);
    border-radius: 16px;
    width: 50%;
}

.round-box p{
    font-family: "ProText";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 0.75rem;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.button-group{
    grid-area:btn-group;
    display:flex;
    justify-content: center;
}

.button-group p{
    margin: 1rem;
    font-family: "ProText";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    /* line-height: 135%; */
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
}


#btn-exit-game{
    width: 72px;
    height: 72px;
    margin:1rem;
    padding:0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#btn-start-round{
    width: 72px;
    height: 72px;
    margin:1rem;
    padding:0 5rem;
    background-color: #91CB82;
    border-color: #91CB82;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#btn-start-round:hover{
    background-color: #71A663;
    border-color: #71A663;
}

#exitIcon {
    height: 32px;
    width: 32px;
}

.round-start-footer{
    grid-area: rsfooter;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(70px);
    border-radius: 16px;
    margin-bottom: 4rem;
}

.round-start-footer{
    font-family: "ProText";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 135%;
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.round-start-footer p {
    padding-top: 0.5rem;
    text-align: center;
}












/* 


.round-start-container {
    background-image: url('../../assets/round-start-nature.jpg');
    background-size: cover;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". round-start-main ."
      ". round-start-main ."
      ". round-start-main ."
      ". round-start-main ."
      "round-start-footer round-start-footer round-start-footer";

  }
  
.round-start-footer {
      grid-area: round-start-footer;
      background-image: linear-gradient(to right top,rgba(0,0,0,.7),rgba(0,0,0,.6));
      background-size: cover;
      
    }
  
.round-start-main {
       grid-area: round-start-main; 
       margin: auto;
       text-align: center;
       
    }

.round-start-main h1 {
    opacity: 0.9;
    text-align: center;
    font-size: 3rem;
    padding: 15px;
    border: solid white 4px;
    border-radius: 8px;
    opacity: 0.8;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.box {
    width: 75%;
    height: 5px;
    margin: 5px auto;
    border-radius: 4px;
    border: solid white 3px;
    visibility: hidden;
}

#btn-start-round{
    display: inline-block;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    margin: 20px ;

}

#btn-exit-game{
    display: inline-block;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    margin: 20px ;
}

.player_score{
    width: 75%;
    margin: 20px auto;
}

.player_score h2 {
    text-align: center;
    color: white;
    opacity: 0.8;
    
}

#exitIcon {
    height: 32px;
    width: 32px;
}

.roundBox{
    display:inline-block;
    margin:10px auto;
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
}

.roundBox h5{
    padding:5px;
} */