.play-game-container {
    display: grid;
    position: relative;
    margin: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr 1fr 0.25fr;
    gap: 10px 10px;
    width: 100vw;
    height: 100vh;
    
  }
  
.street-view {
     grid-area: 1 / 1 / 5 / 9;
     z-index: 1;
    }
  
.play-game-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
     grid-area: 4 / 1 / 5 / 9;
     /* border: solid aqua 2px; */
     z-index: 2;
    }
  
.map-view { 
    grid-area: 3 / 7 / 4 / 9;
    /* border: solid yellow 2px; */
    z-index: 3;
    margin-right: 20px;
    opacity: 0.5;

}

.map-view:hover{
    -webkit-animation: scale-up-right-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-right-bottom  0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    grid-area: 2 / 5 / 4 / 9;
    opacity: 1;
}


#guessBtn{
    grid-area: 4 / 7 / 5 / 9;
    z-index:3;
    margin-right: 20px;
    margin-bottom: 20px;
    padding:5px;
    width: 23.3%;
    border-color: #91CB82;
    /* float:right; */
}

#guessBtnWait{
    grid-area: 4 / 7 / 5 / 9;
    z-index:3;
    margin-right: 20px;
    margin-bottom: 20px;
    padding:5px;
    width: 23.3%;
    /* float:right; */
}

.game-info-section {
    z-index: 3;
    margin-right: 1%;
}

#timeRemainingButton {
    z-index: 3;
}

#roundInfoButton {
    z-index: 3;
    margin-right: 10px;
}

.gm-iv-container {
    display: none;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img{
    display:none;
}